# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
vendor/
config/*
.idea/*
*.lock
*.toml
# Test binary, build with `go test -c`
*.test
lvl-api
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
projectFilesBackup/*

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
*.DS_Store*
